.star{
  display: flex;
  height: 120px;
  width: 250px;
  background-color: darkcyan;
  margin: 0 auto;
  margin-top: 12px ;
  margin-left: 12px ;
  margin-right: 12px;
  align-items: center;
  justify-content: center;

}
.App{
  width: 950px;
  margin: 0 auto;

}
.container{
  display: flex;
  flex-wrap: wrap;
}

.styl{
  display: flex;
  justify-content:space-around;
  align-items: center;
  list-style: none;
  background-color: black;
  height: 50px;
}
a{
  color: antiquewhite;
}